/main-server/node_modules
/react/build
/react/node_modules
/helper/node_modules
/worker/node_modules
/main-server/tmp
/main-server/%HOMEDRIVE%%HOMEPATH%
/main-server/certificates/selfsigned.crt
/main-server/certificates/selfsigned.key
react/src/environment/environment.js
helper/package-lock.json
helper/fileList.js
helper/package-lock.json
/main-server/package-lock.json